html, body {
    margin: 0;
    height: 100%;
    padding: 0;
}

body {
	background: #111218; /* fallback for old browsers */
	background-image: linear-gradient(to left top, #7b7c85, #656671, #4f505e, #3b3c4b, #272839);
	background-attachment: fixed;
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	overflow: hidden;
}

input:focus {
	outline: none;
}
/* BODY CLASSES */
.weather-main-info.weather-sunny {
	background: #f4f411;  /* fallback for old browsers */
}
.weather-main-info.weather-rain {
	background: #2f52e1;  /* fallback for old browsers */
}
.weather-main-info.weather-dark {
	background: #0b275b;  /* fallback for old browsers */
}
.weather-main-info.weather-snow {
	background: #E0FBFC;  /* fallback for old browsers */
}
.weather-main-info.weather-fog {
	background: #93A8AC;  /* fallback for old browsers */
}
.weather-main-info.weather-clouds {
	background: #98C1D9;  /* fallback for old browsers */
}
.weather-snow #weather-main-text, .weather-sunny #weather-main-text, .weather-fog #weather-main-text {
	color: #202020;
}
.weather-snow svg *, .weather-sunny svg *, .weather-fog svg * {
	fill: #202020;
}


.container {
	width: 95%;
	max-width: 900px;
	margin: auto;
		
}
.title {
	margin-top: 0;
	transition: all 0.5s ease; 
}
.search-bar {
	width: 100%;
	max-width: 450px;
	margin: 10px auto;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;

	
}
.search-bar form {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: inset 0px 1px 4px #27293f;
	
}
.search-bar form * {
	
}
.location-btn {
	background-color: #0b275b ; 
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 -2px;
    transition: all 0.3s ease;
}
.location-btn:hover {
	background-color: #2f52e1;
}
.location-btn:last-child {
	border-left: 2px solid rgba(190, 190, 190, 0.55);
}

.location-input {
	background: transparent;
	border: none;
	font-size: 1.2em;
	color: #0b275b;
	padding: 5px;
	margin-left: 10px;
	flex-grow: 1;
}
.location-input:focus {
	background: rgba(255,255,255,0.5)	
}
.weather-card {
	max-width: 450px;
	margin: auto;
	width: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 25px;
	box-shadow: 2px 9px 20px rgba(31, 31, 31, 0.3);
	display: none;
}

.weather-main-info {
	padding: 3rem 2rem 1rem;
	background: #0066a9;
	border-radius: 25px 25px 0 0;
	transition: background ease 0.5s;
}
.weather-main-icon {
	height: 100px;
}
.hidden {
	display: none;
}
#weather-main-text {
	font-size: 1.5rem;
	padding-bottom: 1em;
	margin: 2rem auto 0rem;
	font-weight: 300;
}
.location-container {
	margin: 0px auto;
	padding: 2rem 1rem 1rem;
	position: relative;
}
.location {
	font-size: 1.5rem;
	margin: 0px auto;
	font-weight: 300;
}
.location-container:after {
	content: "";
	width: 80%;
	margin: 0 auto;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 1px rgba(137, 137, 137, 1) solid;
}
.weather-details {
	color: black;
	background: white;
	border-radius: 0 0 25px 25px;
	box-shadow: inset 0px 8px 12px -6px grey;
	
}
.weather-details-temps {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.temps-info {
	flex-grow: 1;
}
.temps-info-number {
	font-size: 4rem;
	margin: 0;
	font-weight: 300;
}
.temps-info-label {
	margin-top: 0rem;
}
#weather-temp {
	font-size: 3.5em;
}
.extra-details {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
}
.extra-details-item {
	flex-grow: 1;
	padding: 15px 0 5px;
	border: 1px rgba(137, 137, 137, 1) solid;
	border-radius: 1rem 1rem 0 0;
	box-sizing: border-box;
	transition: all 0.5s ease;
}
.extra-details-item:first-of-type {
	border-radius: 1rem 0 0 25px;
	border-right: 0;
}
.extra-details-item:last-of-type {
	border-radius: 0 1rem 25px 0;
	border-left: 0;
}
.extras-number {
	font-size: 1.4rem;
	margin: 0 auto 0.8rem;
}
.extras-label {
}
.details-item-large .extras-number {
	font-size: 2.3rem;
}
.cover {
	position: absolute;
	border-radius: 25px;
	width: 100%;
	top: 0%;
	right: 0;
	left: 0;
background: #FF8008;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: white;
	height: 100%;
	z-index: 1;
	transition: all 0.7s ease-in-out;
	padding-top: 50%;
}
.cover.hide {
	top: -150%;
}
@media (max-width: 480px) {
	.title {
		font-size: 0rem;
		opacity: 0;
	}
}
